@media only screen and (min-width: 990px) and (max-width: 1077px) {
    .search-width{
        width: 25rem;
    }
    
  }

  @media only screen and (min-width: 684px) and (max-width: 890px) {
    .search-width{
        width: 20rem;
    }
    
  }

  @media only screen and (min-width: 300px) and (max-width: 683px) {
    .search-width{
        width: 10rem;
    }
    
  }
  @media only screen and (min-width: 100px) and (max-width: 450px) {
    .search-width{
        width: 100%;
    }
    
  }

  @media only screen and (min-width: 100px) and (max-width: 512px) {
    .menu1{
        display: none;
    }
    
  }

  @media only screen and (min-width: 100px) and (max-width: 512px) {
    .mobile-nav{
        display: flex;
        position: fixed;
        bottom: 0;
        background-color: #e9edf1;
        width: 100%;
    }
    
  }
  @media only screen and (min-width: 389px) and (max-width: 512px) {
    .mobile-nav{ font-size: 0.8rem;}
  }

  @media only screen and (min-width: 360px) and (max-width: 389px) {
    .mobile-nav{ font-size: 0.7rem;}
  }
  @media only screen and (min-width: 301px) and (max-width: 359px) {
    .mobile-nav{ font-size: 0.5rem;}
  }
